.ant-collapse-content > .ant-collapse-content-box {
    padding-right: 0;
}
.hFukco .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    line-height: 55px !important; 
}
.conditionFilter{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.ant-collapse-item{
    border: 0 !important;
}
.ant-collapse-header{
    background-color: transparent !important;
    line-height: 55px;
}
.ant-collapse-content{
    border: 0 !important;
}
.inputfield {
  height: 285px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
.inputfieldHeader{
    display: flex;
    justify-content: space-between;
}
.inputfieldContent{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    line-height: 27px !important;
}
.tabIcon{
    font-size: 27px;
}
.panelHeader {
    margin-left: 2% !important;
    font-size: 19px !important;
    display: flex !important;
    align-items: center !important;
}
.ant-collapse-header{
    border-bottom: 1px solid #d8d8d8 !important;
    border-left: 8px solid #ffffff !important;
}
.ant-collapse-content-box{
    margin-left: 35px;
}

.ant-collapse-item-active>.ant-collapse-header {
    border-left: 8px solid #459fed !important;
}
.isoBoxTitle{
    margin-bottom: 15px;
    margin-top: 30px ;
}
.conditionHeader{
    color: #459fed !important;  
    font-size: 18px !important; 
}
.conditionFilter p{
    font-size: 18px !important;
    width: 330px !important;
    color: #2a2a2a !important;
}
.inputfield{
    padding: 16px;
}
.conditionIcons{
    display: flex;
    font-size: 16px;
    width: 70px;
    justify-content: space-between;
}
.inputfieldHeader{
    margin-bottom: 10px !important;
}

.filterTitles{
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #2a2a2a;
    font-size: 18px;
    font-weight: bold;
}
.filterIcons{
    margin-right: 1%;
}
.dJljhT{
    border: 0;
    padding: 0;
}
.ant-input-group.ant-input-group-compact > *:last-child {
    border: 1px solid #c4c4c4 !important;
}
.ant-select-selection-selected-value {
    color: #c4c4c4;
    font-size: 13px;
}
.fcfmNQ.ant-btn{
    display: flex;
    justify-content: space-between;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding-top: unset;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    left: unset;
    right: 30px;
}
.ant-collapse-content > .ant-collapse-content-box {
    padding: unset;
}
.eAvFZZ .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    line-height: 55px !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-top: unset;
    padding-bottom: unset;
    padding-left: 32px;
}
.ant-upload{
    height: 35px !important;
}
span.ant-upload{
    padding: 0 !important;
}
.searchBox{
    height: auto;
    border: 1px solid #d8d8d8;
    padding: 16px;
    margin-top: 30px;
}
.ratingHeader{
    color: #459fed !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}