/*.ProductsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 56.2px 68px;
}*/
/*.ProductCard {
    width: 272px;
    height: 139.8px;
    border-radius: 3px;
    margin-right: 17px;
    margin-bottom: 17px;
    background: url('../../../static/Images/wave-background.svg');
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}*/
/*.ProductCardActive {
    width: 272px;
    height: 139.8px;
    border-radius: 3px;
    margin-right: 17px;
    margin-bottom: 17px;
    background: url('../../../static/Images/wave-active.svg');
    position: relative;
    background-color: #459fed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}*/
/*.IconHolder {
    width: 48px;
    height: 48px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: 30px; 
}*/
/*.Counter {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: #459fed;
}
.CounterActive {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}*/
/*.ProductName {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    color: #505050;
    padding-right: 60%;
}
.ProductNameActive {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding-right: 60%;
}*/
/*.CompanyHeader {
    display: flex;
    align-items: center;
    height: 56px;
}
.CompanyLogo img {
    width: 94px;
}
.CustomCollapse {
    background-color: transparent;
}
.CustomPanel {
    background-color: #ffffff;
    margin-bottom: 8px;
    border: solid 1px #ededed !important;
    border-radius: 2px;
}*/
.dJljhT{
    border: 0;
    padding: 0;
}
.ant-input-group.ant-input-group-compact > *:last-child {
    border: 1px solid #c4c4c4 !important;
}
.ant-select-selection-selected-value {
    color: #c4c4c4;
    font-size: 13px;
}
.fcfmNQ.ant-btn{
    display: flex;
    justify-content: space-between;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding-top: unset;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    left: unset;
    right: 30px;
}
.ant-collapse-content > .ant-collapse-content-box {
    padding: unset;
}
.eAvFZZ .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    line-height: 55px !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-top: unset;
    padding-bottom: unset;
    padding-left: 32px;
}
/*.CompanyLogo {
    margin-left: 60px;
    margin-right: 120px;
}
.MaxCoverage,
.ExpandedCoverage {
    margin-left: 60px;
    margin-right: 230px;
    font-size: 14px;
    color: #505050;
}
.HouseCoverage {
    margin-left: 60px;
    margin-right: 255px;
    font-size: 14px;
    color: #505050;
}
.TestVersion {
    font-size: 14px;
    color: #459fed;
    margin-right: 200px;
}
.LiveVersion {
    font-size: 14px;
    color: #72b59b;
    margin-right: 200px;
}
.Api {
    margin-right: 188px;
    color: #505050;
    font-size: 14px;
    text-decoration: underline;
}
.PricingHub {
    margin-right: 140px;
    text-decoration: underline;
}
.CustomInput {
    width: 825px;
}
.CompanyName {
    margin-right: 70px;
    font-size: 16px;
    color: #2a2a2a;
}
.CompanyItem {
    display: flex;
    align-items: center;
    height: 56px;
    padding-left: 38px;
}
.Companies {
    width: 1135px;
}
.Companies h5 {
    height: 56px;
    background: white;
    display: flex;
    align-items: center;
    padding-left: 38px;
    color: #459fed;
    border: solid 1px #ededed;
}
.ActiveInsurance {
    margin-right: 350px;
    font-size: 16px;
    color: #459fed;
}
.Controls {
    width: 40px;
    display: flex;
    justify-content: space-between;
}*/

.ant-collapse-content > .ant-collapse-content-box {
    padding-right: 0;
}
.hFukco .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    line-height: 55px !important; 
}
.conditionFilter{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.ant-collapse-item{
    border: 0 !important;
}
.ant-collapse-header{
    background-color: transparent !important;
    line-height: 55px;
}
.ant-collapse-content{
    border: 0 !important;
}
.inputfield {
  height: 285px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
.inputfieldHeader{
    display: flex;
    justify-content: space-between;
}
.inputfieldContent{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    line-height: 27px !important;
}
.tabIcon{
    font-size: 27px;
}
.panelHeader {
    margin-left: 2% !important;
    font-size: 19px !important;
    display: flex !important;
    align-items: center !important;
    margin-bottom: 16px;
}
.ant-collapse-header{
    border-bottom: 1px solid #d8d8d8 !important;
    border-left: 8px solid #ffffff !important;
}
.ant-collapse-content-box{
    margin-left: 35px;
}

.ant-collapse-item-active>.ant-collapse-header {
    border-left: 8px solid #459fed !important;
}
.isoBoxTitle{
    margin-bottom: 15px;
    margin-top: 30px ;
}
.conditionHeader{
    color: #459fed !important;  
    font-size: 18px !important; 
}
.conditionFilter p{
    font-size: 18px !important;
    width: 330px !important;
    color: #2a2a2a !important;
}
.inputfield{
    padding: 16px;
}
.conditionIcons{
    display: flex;
    font-size: 16px;
    width: 70px;
    justify-content: space-between;
}
.inputfieldHeader{
    margin-bottom: 10px !important;
}

.filterTitles{
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #2a2a2a;
    font-size: 18px;
    font-weight: bold;
}
.filterIcons{
    margin-right: 1%;
}
