.rf-Wrapper {
    margin: 32px 72px  36px 72px;
    display: flex;
    justify-content: space-between;
}
.rf-Repository {
    padding: 30px;
    background-color: white;
    width: 39%;
}
.rf-DataContainer {
    padding: 30px;
    background-color: white;
    width: 60%;
}
.rf-Repository--head {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}
.ant-modal-header {
    border: none;
    text-align: center;
}
.ant-modal-title {
    font-size: 18px;
    font-weight: bold;
    color: #2a2a2a;
}
.ant-modal-footer {
    border: none;
}