.ConfigPageWrapper {
    margin-left: 68px;
    margin-top: 56px;
    padding: 0;
}
.ProductCard {
    width: 272px;
    height: 140px;
    padding: 20px;
    border: 1px solid green;
    margin-right: 17px;
    margin-bottom: 17px;
    background-image: url('../../../static/Images/wave-background.svg');
}
.ProductCardUpperRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.ProductIcon {
    width: 48px;
    height: 48px;
}
.CustomInput {
    width: 273px;
}
.Companies {
    width: 1135px
}
.AddProductBoxWrapper {
    width: 992px;
    margin-left: 68px;
    margin-top: 32px;
}
.AddProductBox {
    width: 100%;
    padding-bottom: 43px;
    background-color: white;
    margin-bottom: 16px;
}
.AddProductBoxHeader {
    height: 55px;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 38px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
}
.AddProductBoxHeader h1 {
    font-size: 18px;
    color: #459fed;
}
.AddProductInputsHolder {
    padding-left: 22px;
    padding-right: 22px;
}
.AddNewProductNameLabel {
    color: #505050;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 9px;
}
.AddNewProductTypeLabel {
    color: #505050;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AddNewProductIconLabel {
    margin-bottom: 9px;
    color: #505050;
    font-size: 16px;
    font-weight: 500;
}
.AddNewProductDescriptionLabel {
    margin-bottom: 17px;
    color: #505050;
    font-size: 16px;
    font-weight: 500;
}
.AddNewProductDescriptionRow {
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 27px;
}
.AddNewProductNameCol {
    width: 425px;
    margin-right: 16px;
}
.AddNewProductName {
    width: 100%;
}
.ant-form-item-control-wrapper {
    width: 100%;
}
.ChooseProductTypeCol {
    width: 294px;
    margin-right: 16px;
}
.ChooseIconCol {
    width: 187px;
}
.AddNewProductDescription {
    width: 425px;
}
.GoNextItem {
    width: 243px;
    margin-left: auto;
}
.GoNext {
    width: 100%;
    height: 36px;
    background-color: #459fed;
    color: #ffffff;
    font-size: 14px;
}

@media (max-width: 1400px) {
    .AddProductBoxWrapper {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .AddProductBoxWrapper {
        margin-left: auto;
        margin-right: auto;
    }
    .AddNewProductDescription {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .AddProductBoxWrapper {
        width: 90%;
    }
}