.ant-steps{
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #1d2c70;
}

.ant-steps-item-icon{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-steps-item{
    display: flex;
}
.ant-steps-item-icon{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.ant-steps-item-title::after {
    top: 25px;
    height: 2px;
}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title {
    color: #72b59b;
}
.ant-steps-item-finish .ant-steps-item-icon {
    background-color: #72b59b;
    border-color: transparent;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: #72b59b;
    background-color: white;
    border-radius: 25px;
}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-description {
    color: rgb(255, 255, 255);
}
.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title {
    color: rgb(255, 255, 255);
}
.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-description {
    color: rgb(255, 255, 255);
}
.ant-steps-item-wait .ant-steps-item-icon {
    background-color: #283e9d;
    border-color: transparent;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: #6d87ff;
}
.ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title {
    color: #6d87ff;
}
.ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-description {
    color: #6d87ff;
}
.ant-steps-item-process .ant-steps-item-icon {
    background: #459fed;
}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: #72b59b;
}
.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: #459fed;
}
.timeline{
    background-color: #1d2c70;
    height: 120px;
}
.timelineButtons{
    display: grid;
    justify-content: center;
}